parameters:
    level: 5
    paths:
        - aiwa-identity-animation.php
        - uninstall.php
        - src/includes
    excludePaths:
        - vendor
        - node_modules
    phpVersion: 70400
    treatPhpDocTypesAsCertain: false

    bootstrapFiles: []

    ignoreErrors: []
